html {
  --bg-color: hsl(0, 0%, 100%);
  --pattern-bg-color: hsl(225, 100%, 98%);
  --card-bg-color: hsl(227, 47%, 96%);
  --text-color: hsl(230, 17%, 14%);
  --subtext-color: hsl(228, 12%, 44%);
}

html[data-theme="dark"] {
  --bg-color: hsl(230, 17%, 14%);
  --pattern-bg-color: hsl(232, 19%, 15%);
  --card-bg-color: hsl(228, 28%, 20%);
  --text-color: hsl(0, 0%, 100%);
  --subtext-color: hsl(228, 34%, 66%);
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  padding: 30px 150px;
}

@media (max-width: 1050px) {
  .container {
    padding: 30px;
  }
}

.pattern {
  height: 250px;
  background-color: var(--pattern-bg-color);
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.pattern .pattern-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16fr 2fr 1fr;
      grid-template-columns: 16fr 2fr 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "title switch-txt  switch"  "subtitle subtitle subtitle" "devided-line devided-line devided-line";
}

@media (max-width: 500px) {
  .pattern .pattern-container {
    -ms-grid-columns: 5fr 2fr 13fr;
        grid-template-columns: 5fr 2fr 13fr;
    -ms-grid-rows: (1fr)[3] 1fr;
        grid-template-rows: repeat(3, 1fr) 1fr;
        grid-template-areas: "title title title" "subtitle subtitle subtitle" "devided-line devided-line devided-line" "switch-txt switch switch";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pattern p {
  margin: 0;
}

.pattern .title {
  font-size: 26px;
  font-weight: bold;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.pattern .subtitle {
  color: var(--subtext-color);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: subtitle;
}

.pattern .devided-line {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: devided-line;
  color: var(--subtext-color);
  opacity: .5;
  text-align: center;
  width: 100%;
  display: none;
}

@media (max-width: 500px) {
  .pattern .devided-line {
    display: inline;
  }
}

.pattern .switch-text {
  color: var(--subtext-color);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: switch-txt;
  margin-right: 0;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 500px) {
  .pattern .switch-text {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.pattern .switch {
  position: relative;
  width: 40px;
  height: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: switch;
  -ms-grid-column-align: end;
      justify-self: end;
}

.pattern .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pattern .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aeb3cb;
  -webkit-transition: .4s;
  transition: .4s;
}

.pattern .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 22px;
  bottom: 2px;
  background-color: var(--pattern-bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.pattern input:checked + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
}

.pattern input:checked + .slider:before {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.pattern .slider.round {
  border-radius: 20px;
}

.pattern .slider.round:before {
  border-radius: 50%;
}

.changes {
  font-size: 12px;
  font-weight: bold;
}

.positive {
  color: #1db489;
}

.negative {
  color: #dc414c;
}

.category {
  margin-top: -20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .category {
    margin-top: -20%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}

@media (max-width: 420px) {
  .category {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
  }
}

.category .block {
  padding: 20px;
  background-color: var(--card-bg-color);
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
}

.category .block::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.category .block-facebook::before {
  background: deepskyblue;
}

.category .block-twitter::before {
  background: #1ca0f2;
}

.category .block-instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468 0%, #df4996 100%);
}

.category .block-youtube::before {
  background: #c4032a;
}

.category .block .heading {
  font-size: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
  color: var(--subtext-color);
  font-weight: bold;
}

.category .block .heading img {
  vertical-align: middle;
}

.category .block .number {
  font-size: 50px;
  font-weight: 700;
  margin: 5px auto;
}

.category .block .followers {
  color: var(--subtext-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  margin-top: 0px;
}

.overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto (1fr)[2];
      grid-template-rows: auto repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
      grid-template-areas: "heading heading heading heading"  "block1-1 block1-2 block1-3 block1-4" "block2-1 block2-2 block2-3 block2-4";
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .overview {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr (auto)[4];
        grid-template-rows: 1fr repeat(4, auto);
    grid-row-gap: 20px;
        grid-template-areas: "heading heading" "block1-1 block1-2" "block1-3 block1-4" "block2-1 block2-2" "block2-3 block2-4";
  }
}

@media (max-width: 420px) {
  .overview {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr (auto)[8];
        grid-template-rows: 1fr repeat(8, auto);
    grid-row-gap: 20px;
        grid-template-areas: "heading" "block1-1" "block1-2" "block1-3" "block1-4" "block2-1" "block2-2" "block2-3" "block2-4";
  }
}

.overview .heading-block {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: heading;
  text-align: left;
}

.overview .heading-block .heading {
  color: var(--subtext-color);
  font-size: 22px;
  font-weight: bold;
}

.overview .block {
  padding: 20px 30px;
  background-color: var(--card-bg-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.overview .block-facebook-views {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: block1-1;
}

.overview .block-facebook-likes {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: block1-2;
}

.overview .block-instagram-likes {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: block1-3;
}

.overview .block-instagram-views {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: block1-4;
}

.overview .block-twitter-retweets {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: block2-1;
}

.overview .block-twitter-likes {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: block2-2;
}

.overview .block-youtube-likes {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: block2-3;
}

.overview .block-youtube-views {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: block2-4;
}

.overview .block .title {
  font-size: 14px;
  color: var(--subtext-color);
  font-weight: bold;
  -ms-grid-column-align: start;
      justify-self: start;
}

.overview .block img {
  -ms-grid-column-align: end;
      justify-self: end;
}

.overview .block .number {
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0;
  -ms-grid-column-align: start;
      justify-self: start;
}

.overview .block .changes {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
/*# sourceMappingURL=style.css.map */