$lime-green-color: hsl(163, 72%, 41%);
$bright-red-color: hsl(356, 69%, 56%);
$facebook-color: hsl(195, 100%, 50%);
$twitter-color: hsl(203, 89%, 53%);
$instagram-color: linear-gradient(90deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
$youtube-color: hsl(348, 97%, 39%);
$toggle-light: hsl(230, 22%, 74%);
$toggle-dark: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);

html{
  --bg-color: hsl(0, 0%, 100%);
  --pattern-bg-color: hsl(225, 100%, 98%);
  --card-bg-color: hsl(227, 47%, 96%);
  --text-color: hsl(230, 17%, 14%);
  --subtext-color: hsl(228, 12%, 44%);
}
html[data-theme="dark"] {
  --bg-color: hsl(230, 17%, 14%);
  --pattern-bg-color: hsl(232, 19%, 15%);
  --card-bg-color: hsl(228, 28%, 20%);
  --text-color: hsl(0, 0%, 100%);
  --subtext-color: hsl(228, 34%, 66%);
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container {
  padding: 30px 150px;
}
.pattern {
  height: 250px;
  background-color: var(--pattern-bg-color);
  .pattern-container { 
    display: grid;
    grid-template-columns: 17fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "title switch-txt  switch" 
    "subtitle subtitle subtitle";
  }
  p {
    margin: 0 20px;
  }
  .title {
    font-size: 26px;
    font-weight: bold;
    grid-area: title;
  }
  .subtitle {
    color: var(--subtext-color);
    grid-area: subtitle;
  }
  .switch-text {
    color: var(--subtext-color);
    grid-area: switch-txt;
    margin-right: 0;
    justify-self: end;
  }

  
  // Toggle Switch
  /* The switch - the box around the slider */
  .switch {
    // display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    grid-area: switch;
    justify-self: end;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $toggle-light;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 22px;
    bottom: 2px;
    background-color: var(--pattern-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: $toggle-dark;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

.changes {
  font-size: 12px;
  font-weight: bold;
}
.positive {
  color: $lime-green-color;
}
.negative {
  color: $bright-red-color;
}
.category {
  margin-top: -13%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  text-align: center;
  margin-bottom: 50px;
  .block {
    padding: 20px;
    background-color: var(--card-bg-color);
    display: grid;
    border-radius: 5px;
    &-facebook {
      border-top: 5px solid $facebook-color;
    }
    &-twitter {
      border-top: 5px solid $twitter-color;
    }
    &-instagram {
      overflow: hidden;
      &::before {
        background: $instagram-color;
        content: "";
        width: 120%;
        height: 5px;
        margin-top: -20px;
        margin-left: -20px;
      }
    }
    &-youtube {
      border-top: 5px solid $youtube-color;
    }
    .heading {
      img {
        vertical-align: middle;
      }
      font-size: 12px;
      align-self: center;
      margin-bottom: 20px;
      color: var(--subtext-color);
      font-weight: bold;
    }
    .number {
      font-size: 50px;
      font-weight: 700;
      margin: 5px auto;
    }
    .followers {
      color: var(--subtext-color);
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
      margin-top: 0px;
    }
  }
}
.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat((2, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: 
  "heading heading heading heading" 
  "block1-1 block1-2 block1-3 block1-4"
  "block2-1 block2-2 block2-3 block2-4";
  text-align: center;
  margin-bottom: 50px;
  .heading-block {
    width: 100%;
    grid-area: heading;
    text-align: left;
    .heading {
      color: var(--subtext-color);
      font-size: 22px;
      font-weight: bold;
    }
  }
  .block {
    padding: 20px 30px;
    background-color: var(--card-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat((2, 1fr));
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    &-facebook {
      &-views {
        grid-area: block1-1;
      }
      &-likes {
        grid-area: block1-2;
      }
    }
    &-instagram {
      &-likes {
        grid-area: block1-3;
      }
      &-views {
        grid-area: block1-4;
      }
    }
    &-twitter {
      &-retweets {
        grid-area: block2-1;
      }
      &-likes {
        grid-area: block2-2;
      }
    }
    &-youtube {
      &-likes {
        grid-area: block2-3;
      }
      &-views {
        grid-area: block2-4;
      }
    }
    .title {
      font-size: 14px;
      color: var(--subtext-color);
      font-weight: bold;
      justify-self: start;
    }
    img {
      justify-self: end;
    }
    .number {
      font-size: 28px;
      font-weight: 700;
      margin: 5px 0;
      justify-self: start;
    }
    .changes {
      justify-self: end;
      align-self: end;
    }
  }
}